.brxe-lazy-bg-video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.brxe-lazy-bg-video.loaded {
    opacity: 1;
}