.brxe-lazy-bg-video {
    position: absolute;
    top: -1px;
    left: -1px;
    max-height: calc(100% + 2px);
    max-width: calc(100% + 2px);
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.brxe-lazy-bg-video.loaded {
    opacity: 1;
}